---

---

<div class="flex justify-around w-full items-center fixed py-3 shadow-lg text-sm bg-white z-10">
    <h3>Carlos D.</h3>
    <span class="text-center">Web <br> Developer</span>
    <div class="flex gap-2">
        <span>Call Me: (+61) 424604384</span>
        <span>/</span>
        <span>carlosastetearana@gmail.com</span>
    </div>
    <button>Side</button>
</div>
