---
import Home from "./ScreenHome.astro";
---

<Home id="profile">
  <div class="flex items-center justify-center gap-32 h-screen">
    <div class="flex flex-col gap-6">
      <div class="text-5xl flex flex-col gap-2">
       <h1>Carlos Astete</h1>
       <span class="text-xs px-1 text-gray-500">
        Software Developer & UX/UI Designer
       </span>
      </div>
      <p class="text-gray-600">
        I'm Carlos Astete, Software developer & UX/UI Designer based in Sydney, Australia.
      </p>
      <button class="hover:shadow-lg p-3 transition-all duration-300 rounded-lg bg-green-300 w-32 text-sm">
          GET STARTED
      </button>
    </div>
    <picture class="w-[200px]">
      <img src="https://picsum.photos/200/300" alt="">
    </picture>
  </div>
</Home>
